
{% load static %}
<article id="review-{{ review.id }}">
    <!-- Bagian Username -->
    <div>
        <p>{{review.user.username}}</p>
    </div>

    <!-- Comment -->
    <div>
        <p>{{review.comment}}</p>
    </div>

    <div id="star">
        
    </div>

    <!--Jika user saat ini adalah pembuat comment-->
    {% if user.is_authenticated and review.user == user %}
        <a href="{% url 'review:delete_review' review.id %}">
            Delete comment
        </a>
    {% endif %}

</article>

<script>



</script>