{% extends 'base.html' %}
{% block title %}Home - Modern Shop{% endblock %}

{% block content %}
    <!-- <section class="hero-section" style="background-image: url('URL_FOTO_ANDA.jpg');"> -->
        
        <div class="hero-content">
            <h1>Full Set Of Great Features To Make You Look Fresh</h1>
            <p>Massa sed elementum tempus egestas sed sed risus. Risus ut ultrices mi tempus imperdiet nulla malesuada pellentesque elit.</p>
            <a href="#" class="cta-button">See Collection</a>
        </div>

    </section>
{% endblock %}