{% extends 'base.html' %}
{% block title %}Home - Modern Shop{% endblock %}

{% block content %}
<div class="container-hero">
    <div class="hero-content">
        <h1 class="color-blue">Explore Curated Football Collections <span class="span"> With Us</span></h1>
        <p class="hero-p">Ballistic offers all categories of football merchandise, from jerseys to accessories.</p>
        <a href="shop/" class="cta-button">See Collection</a>
    </div>
</div>

{% endblock %}

{% block style %}
<style>
/* Multiple selectors to ensure blue color override */

</style>
{% endblock %}
